/* Reset default browser styles */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* Page background */
body::before{
    content:"";
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;

    backdrop-filter: blur(18px);
    background: rgba(0,0,0,0.65);

    z-index:-1;
}

body{
    background-color:#121212;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;

        color:#eaeaea;
    font-family: 'Inter', sans-serif;
    min-height:100vh;

    display:flex;
    justify-content:center;

    /* KEY CHANGE */
    align-items:flex-start;
    padding-top:60px;
    padding-bottom:60px;

}



/* Main card */
.container{
    width:60%;
    max-width:750px;
    background:#1b1b1b;
    padding:40px;
    border-radius:14px;
    box-shadow:0px 10px 40px rgba(0,0,0,0.6);
}

/* Title */
h1{
    text-align:center;
    margin-bottom:25px;
    font-weight:600;
}

/* Text area */
textarea{
    width:100%;
    height:150px;
    background:#111;
    border:1px solid #333;
    border-radius:10px;
    padding:15px;
    color:white;
    font-size:16px;
    resize:none;
}

/* Button */
input[type="submit"]{
    width:100%;
    margin-top:15px;
    padding:14px;
    border:none;
    border-radius:10px;
    background:#cd7bb9;   
    color:white;
    font-size:16px;
    font-weight:600;
    cursor:pointer;
    transition:0.25s;
}

input[type="submit"]:hover{
    background:#6e356c;
    transform:scale(1.02);
}

h3{
    margin-top:35px;
    margin-bottom:12px;
}

.alert{
    margin-top:20px;
    background:#101010;
    padding:18px;
    border-radius:10px;
    border:1px solid #2a2a2a;
    line-height:1.6;
}


img{
    margin-top:15px;
}
